body {
  background-image: url('../images/IMG_0194.jpg');
  background-size: cover;
  margin: 0;
}

nav {
  margin: auto;
  border-bottom: 5px solid #F1CD4E;
  border-top: 5px solid #F1CD4E;
  background: rgb(132,14,5);
  background: radial-gradient(circle, rgba(132,14,5,1) 0%, rgba(189,34,34,0.9598214285714286) 53%, rgba(200,19,6,1) 100%);
}

h1 {
  font-weight: bold;
  background-color: none;
}

h3 {
  font-weight: bold;
  background: none;
}

p {
  background: none;
}

a {
  text-decoration: none;
}
