.o-global-container {
  display: flex;
  min-height: 100vh;
  width: 80vw;
  flex-direction: column;
  margin: auto;

  @media screen and (max-width: 750px) {
    width: 100vw;
  }
}

.o-global-background {
  flex: 1;
  background: rgba(255, 255, 255, 0.75);
}

.o-page-content {
  background: none;
  width: 80%;
  margin: 0 auto;
  font: small-caps 1.5em/1.25em DoulosSILW;
  margin-bottom: 3em;
  clear: left;
  overflow: hidden;
}

.o-banner {
  margin: auto;
  height: 8em;
  display: flex;
  justify-content: center;

  &__image {
    object-fit: contain;
    height: 8em;
  }
}

.o-footer {
   background: grey;
   margin: none;

   &__content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin: auto;
      padding: .25em 0;
      font: small-caps 1em DoulosSILW;

      @media only screen and (max-width: 600px) {
         flex-direction: column;
      }

      & a {
         color: black;
      }
   }
}
